// MAIN BLOCK FONT SIZE----------------

// Считаем сколько px в 1 vw, 3846px - ширина вюпорта
$px-in-1-vw: calc(100/3846);


// MAIN BLOCK COLORS ------------------

$main-black: #1F2326;
$main-red: #FF4656;
$main-white: #F8F8F8;
$main-gray: #C4C4C4;


// TEXT COLORS ------------------------


$text-black: #000000;
$text-white: #FFFFFF;